.box {
    min-height: 80px;
    background-color: red;
    margin-bottom: 10px;
}
.box_0{
    min-height: 80px;
    background-color: darkred;
    margin-bottom: 10px;
}
.box_1{
    min-height: 80px;
    background-color: maroon;
    margin-bottom: 10px;
}
.box_2{
    min-height: 80px;
    background-color: tomato;
    margin-bottom: 10px;
}
.box_3{
    min-height: 80px;
    background-color: darkred;
    margin-bottom: 10px;
}
.box_f{
    min-height: 80px;
    background-color: teal;
    margin-bottom: 10px;
}
.box_g_f{
    min-height: 80px;
    background-color: tomato;
    margin-bottom: 10px;
}
.box_u{
    min-height: 80px;
    background-color: darkslategray;
    margin-bottom: 10px;
}
.my_4{
    margin-top: 1.5rem ;
    margin-bottom: 1.5rem ;
}
.min_400{
    min-height: 300px;
    background-color:black 
}
.mh_400{
    min-height: 100px;
    background-color: gray;
    
}
.my_4{
    margin-top: 1.5rem ;
    margin-bottom: 1.5rem;
}